@media screen and (min-width: 992px) {
    #menulinks {
        display: block;
    }

    #shmenulinks {
        display: none;
    }

}

@media screen and (max-width: 991px) {
    #shmenulinks {
        display: block;
    }
}
.card {
    background-color: #f1fcff;
}
.fa-ban{
    color: #ff1627;
}
.bg-info{
    background-color: #d1f1df !important;
}
.fa-plus-square{
    background-color: #37b72c;
}
#content{
    padding-left: 15px !important;
    //padding-right: 40px !important;
}
.list-user{
    padding-left: 10px;
    padding-right: 10px;
    .list-data table thead tr{
        background: #566573;
        overflow: auto;
    }
    .form-data table thead tr th{
        background: #566573;
    }
}
.fa-trash-alt{
    color: #ffffff;
}
.fa-edit{
    color: #ffffff;
}
.invalid-feedback{
    display: block;
}
.breadcrumb{
    background-color: #b6d1ec;
}
